<ion-content [scrollEvents]="true" class="ion-padding" scrollY="true">
  <div class="login-container">
    <img src="assets/logo.png" class="logo" alt="Logo" />

    <ion-card class="login-card">
      <ion-card-header> 
        <ion-card-title class="ion-text-center">Iniciar Sesión</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="form" (ngSubmit)="login()">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>

          <ion-button expand="block" class="ion-margin-top" type="submit">
            Entrar
          </ion-button>
        </form>
       <div class="ion-text-center ion-margin-top">
          <p>¿No tienes una cuenta?</p>
          <ion-button fill="clear" size="small" routerLink="/register" color="primary">
            Regístrate
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
