<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Carrito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="cartItems$ | async as items">
    <ion-list *ngIf="items.length > 0; else empty">
      <ion-item class="cart-item" *ngFor="let item of items">
        <ion-thumbnail slot="start">
          <img [src]="item.image" />
        </ion-thumbnail>
        <ion-label class="cart-item-label">
          <h2 class="item-name">{{ item.name }}</h2>
          <p class="item-info">Precio: {{ item.price | currency:'USD' }}</p>
          <p class="item-info">Cantidad: {{ item.quantity }}</p>
          <p class="item-info">Total: {{ item.price * item.quantity | currency:'USD' }}</p>
        </ion-label>
        <ion-button fill="clear" [routerLink]="'/product/' + item.productId">
          <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear" color="danger" (click)="removeItem(item.productId)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
    <ng-template #empty>
      <div class="ion-text-center ion-padding">Tu carrito está vacío.</div>
    </ng-template>
  </ng-container>
</ion-content>
<ion-footer>
  <ion-toolbar class="total-toolbar">
    <ion-title>Total: {{ total$ | async | currency:'USD' }}</ion-title>
  </ion-toolbar>

  <ion-toolbar class="action-toolbar">
    <ng-container *ngIf="cartItems$ | async as items">
      <div *ngIf="items.length > 0" class="action-buttons">
        <ion-button color="danger" (click)="clearCart()">Vaciar carrito</ion-button>
        <ion-button color="success" (click)="checkout()">Confirmar compra</ion-button>
      </div>
    </ng-container>

    <div class="custom-divider"></div>
    <div class="nav-buttons">
      <div class="nav-button">
        <ion-button fill="clear" routerLink="/products">
          <ion-icon name="pricetag-outline"></ion-icon>
        </ion-button>
        <p>Productos</p>
      </div>
      <div class="nav-button">
        <ion-button fill="clear" routerLink="/cart">
          <ion-icon name="cart-outline"></ion-icon>
        </ion-button>
        <p>Carrito</p>
      </div>
      <div class="nav-button" slot="end">
        <ion-button fill="clear" (click)="logout()">
          <ion-icon name="log-out-outline"></ion-icon>
        </ion-button>
        <p>Salir</p>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>